<!-------- header --------->
<header class="header">
    <div class="container header__container">
        <a href="/" class="logo">
            <img src="/img/logo.svg" alt="logo">
        </a>

        <nav class="nav-menu">
            <ul class="nav-list">
                <li><a href="#">Why Quickit</a></li>
                <li><a href="#">Solutions</a></li>
                <li><a href="#">Resources</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Contacts</a></li>
            </ul>

            <div class="lang-dropdown">
                <button class="lang-dropbtn"><img src="/img/icons/globus.svg" alt="languages"></button>
                <ul class="lang-items">
                    <li class="lang-item lang-item-current"><a href="#"><img src="/img/flags/en.svg" alt="English"></a></li>
                    <li class="lang-item"><a href="#"><img src="/img/flags/ru.svg" alt="Русский"></a></li>
                    <li class="lang-item"><a href="#"><img src="/img/flags/ua.svg" alt="Український"></a></li>
                </ul>
            </div>
            
            <a href="#">Log In</a>

            <a href="#">Request a demo</a>
        </nav>
    </div>
</header>